<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<h1>
    <center>Welcome to Index page of {{company_name}}</center>
</h1>
<h3>Founder & CEO : {{founder}}</h3>
<h3>Message from {{founder}} : </h3>
<h3>{{message}}</h3>
<form action="/remove_punctuation" method="get">
    <textarea name="user_query_text" style="margin: 0px; height: 102px; width: 834px;"></textarea><br/>
    <input type="checkbox" name="remove_punc"> Remove Punctuation</input><br/>
    <input type="checkbox" name="capitalize"> Capitalize</input><br/>
    <input type="checkbox" name="remove_newlines"> Remove Newlines</input><br/>
    <input type="checkbox" name="character_count"> Character counter</input><br/>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>